In [10]:
import boto3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import product
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, recall_score

## Defining the bucket 
s3 = boto3.resource('s3')
bucket_name = 'data-445'
bucket = s3.Bucket(bucket_name)

## Defining the csv file 
file_key_1 = 'Demos/churn-bigml-80.csv'
file_key_2 = 'Demos/churn-bigml-20.csv'

bucket_object_1 = bucket.Object(file_key_1)
file_object_1 = bucket_object_1.get()
file_content_stream_1 = file_object_1.get('Body')

bucket_object_2 = bucket.Object(file_key_2)
file_object_2 = bucket_object_2.get()
file_content_stream_2 = file_object_2.get('Body')

## Reading the csv files
telecom_train = pd.read_csv(file_content_stream_1)
telecom_test = pd.read_csv(file_content_stream_2)

In [11]:
## Changing logical value to numbers
telecom_train['Churn_numb'] = np.where(telecom_train['Churn'] == False, 0, 1)
telecom_test['Churn_numb'] = np.where(telecom_test['Churn'] == False, 0, 1)

telecom_train['International_plan'] = np.where(telecom_train['International_plan'] == 'No', 0, 1)
telecom_test['International_plan'] = np.where(telecom_test['International_plan'] == 'No', 0, 1)

telecom_train['Voice_mail_plan'] = np.where(telecom_train['Voice_mail_plan'] == 'No', 0, 1)
telecom_test['Voice_mail_plan'] = np.where(telecom_test['Voice_mail_plan'] == 'No', 0, 1)

telecom_train['total_charge'] = telecom_train['Total_day_charge'] + telecom_train['Total_eve_charge'] + telecom_train['Total_night_charge'] + telecom_train['Total_intl_charge']
telecom_test['total_charge'] = telecom_test['Total_day_charge'] + telecom_test['Total_eve_charge'] + telecom_test['Total_night_charge'] + telecom_test['Total_intl_charge']

telecom_train.head()

,State,Account_length,Area_code,International_plan,Voice_mail_plan,Number_vmail_messages,Total_day_minutes,Total_day_calls,Total_day_charge,Total_eve_minutes,...,Total_night_minutes,Total_night_calls,Total_night_charge,Total_intl_minutes,Total_intl_calls,Total_intl_charge,Customer_service_calls,Churn,Churn_numb,total_charge
0,KS,128,415,0,1,25,265.1,110,45.07,197.4,...,244.7,91,11.01,10.0,3,2.70,1,False,0,75.56
1,OH,107,415,0,1,26,161.6,123,27.47,195.5,...,254.4,103,11.45,13.7,3,3.70,1,False,0,59.24
2,NJ,137,415,0,0,0,243.4,114,41.38,121.2,...,162.6,104,7.32,12.2,5,3.29,0,False,0,62.29
3,OH,84,408,1,0,0,299.4,71,50.90,61.9,...,196.9,89,8.86,6.6,7,1.78,2,False,0,66.80
4,OK,75,415,1,0,0,166.7,113,28.34,148.3,...,186.9,121,8.41,10.1,3,2.73,3,False,0,52.09

In [12]:
## Selecting variables of interest
telecom_train = telecom_train[['Account_length', 'International_plan', 'Voice_mail_plan', 'total_charge', 'Customer_service_calls', 'Churn_numb']]
telecom_test = telecom_test[['Account_length', 'International_plan', 'Voice_mail_plan', 'total_charge', 'Customer_service_calls', 'Churn_numb']]

telecom_train.head()

,Account_length,International_plan,Voice_mail_plan,total_charge,Customer_service_calls,Churn_numb
0,128,0,1,75.56,1,0
1,107,0,1,59.24,1,0
2,137,0,0,62.29,0,0
3,84,1,0,66.80,2,0
4,75,1,0,52.09,3,0

In [ ]:
## Defining the input and target variables
X = telecom_train[['Account_length', 'International_plan', 'Voice_mail_plan', 'total_charge', 'Customer_service_calls']]
Y = telecom_train['Churn_numb']

## Defining data-frame to store results 
RF_importances = pd.DataFrame({'Account_length': np.repeat(np.nan, 100), 'International_plan': np.repeat(np.nan, 100), 'Voice_mail_plan': np.repeat(np.nan, 100), 'total_charge': np.repeat(np.nan, 100), 'Customer_service_calls': np.repeat(np.nan, 100)})
Ada_importances = pd.DataFrame({'Account_length': np.repeat(np.nan, 100), 'International_plan': np.repeat(np.nan, 100), 'Voice_mail_plan': np.repeat(np.nan, 100), 'total_charge': np.repeat(np.nan, 100), 'Customer_service_calls': np.repeat(np.nan, 100)})
GB_importances = pd.DataFrame({'Account_length': np.repeat(np.nan, 100), 'International_plan': np.repeat(np.nan, 100), 'Voice_mail_plan': np.repeat(np.nan, 100), 'total_charge': np.repeat(np.nan, 100), 'Customer_service_calls': np.repeat(np.nan, 100)})

for i in range(0, 100):

    ## Splitting the data 
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y)
    
    ###################
    ## Random Forest ##
    ###################
    
    RF = RandomForestClassifier(n_estimators = 500, max_depth = 3).fit(X_train, Y_train)
    RF_importances.loc[i] = RF.feature_importances_
    
    ##############
    ## AdaBoost ##
    ##############
    
    Ada = AdaBoostClassifier(n_estimators = 500, base_estimator = DecisionTreeClassifier(max_depth = 3), learning_rate = 0.01).fit(X_train, Y_train)
    Ada_importances.loc[i] = Ada.feature_importances_
    
    #######################
    ## Gradient Boosting ##
    #######################
    
    GB = GradientBoostingClassifier(n_estimators = 500, max_depth = 3, learning_rate = 0.01).fit(X_train, Y_train)
    GB_importances.loc[i] = GB.feature_importances_
    
## Combining the importances of the three models 
Feature_Importances = pd.concat([RF_importances, Ada_importances, GB_importances], axis = 0)
Feature_Importances.mean()

In [ ]:
Feature_Importances = pd.concat([RF_importances, Ada_importances, GB_importances], axis = 0)
Feature_Importances.mean()

In [15]:
## Re-defining the input and target variables
X = telecom_train[['Account_length', 'International_plan', 'total_charge', 'Customer_service_calls']]
Y = telecom_train['Churn_numb']

def expand_grid(dictionary):
    return pd.DataFrame([row for row in product(*dictionary.values())], columns = dictionary.keys())

dictionary = {'n_tree': [100, 500, 1000, 1500, 2000],
              'depth': [3, 5, 7]}

RF_param = expand_grid(dictionary)
RF_param['accuracy'] = np.nan
RF_param['recall'] = np.nan

# Splitting data 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y)

for i in range(0, RF_param.shape[0]):
    
    ## Building the model
    RF = RandomForestClassifier(n_estimators = RF_param['n_tree'][i], max_depth = RF_param['depth'][i]).fit(X_train, Y_train)
    
    ## Predicting on test
    RF_pred = RF.predict_proba(X_test)[:, 1]
    RF_pred = np.where(RF_pred < 0.1, 0, 1)
    
    ## Computing & storing accuracy and recall 
    RF_param.loc[i, 'accuracy'] = accuracy_score(Y_test, RF_pred)
    RF_param.loc[i, 'recall'] = recall_score(Y_test, RF_pred)
    
def

In [16]:
RF_param

    n_tree  depth  accuracy    recall
0      100      3  0.848315  0.871795
1      100      5  0.859551  0.884615
2      100      7  0.874532  0.871795
3      500      3  0.846442  0.871795
4      500      5  0.872659  0.871795
5      500      7  0.874532  0.871795
6     1000      3  0.846442  0.871795
7     1000      5  0.870787  0.871795
8     1000      7  0.874532  0.871795
9     1500      3  0.846442  0.871795
10    1500      5  0.874532  0.871795
11    1500      7  0.878277  0.871795
12    2000      3  0.848315  0.871795
13    2000      5  0.872659  0.871795
14    2000      7  0.876404  0.871795